<div class="list" *ngIf="!loader">
  <div class="list-card">
    <div class="list-card__lazyload-img">
      <img src="assets/icon/pizza.png">
    </div>
    <div class="list-card__lazyload-name"></div>
    <div class="list-card__option">
      <div class="list-card__option-param">
          <div class="list-card__option-param-item active">тонкое</div>
          <div class="list-card__option-param-item">традиционное</div>
      </div>
      <div class="list-card__option-param">
          <div class="list-card__option-param-item active">26 см.</div>
          <div class="list-card__option-param-item">30 см.</div>
          <div class="list-card__option-param-item">40 см.</div>
      </div>
    </div>
    <div class="list-card__footer">
      <div class="list-card__footer-lazyload-price"></div>
      <div class="list-card__footer-button">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
        </svg>
        Добавить
      </div>
    </div>
  </div>
  <div class="list-card">
    <div class="list-card__lazyload-img">
      <img src="assets/icon/pizza.png">
    </div>
    <div class="list-card__lazyload-name"></div>
    <div class="list-card__option">
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">тонкое</div>
        <div class="list-card__option-param-item">традиционное</div>
      </div>
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">26 см.</div>
        <div class="list-card__option-param-item">30 см.</div>
        <div class="list-card__option-param-item">40 см.</div>
      </div>
    </div>
    <div class="list-card__footer">
      <div class="list-card__footer-lazyload-price"></div>
      <div class="list-card__footer-button">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
        </svg>
        Добавить
      </div>
    </div>
  </div>
  <div class="list-card">
    <div class="list-card__lazyload-img">
      <img src="assets/icon/pizza.png">
    </div>
    <div class="list-card__lazyload-name"></div>
    <div class="list-card__option">
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">тонкое</div>
        <div class="list-card__option-param-item">традиционное</div>
      </div>
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">26 см.</div>
        <div class="list-card__option-param-item">30 см.</div>
        <div class="list-card__option-param-item">40 см.</div>
      </div>
    </div>
    <div class="list-card__footer">
      <div class="list-card__footer-lazyload-price"></div>
      <div class="list-card__footer-button">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
        </svg>
        Добавить
      </div>
    </div>
  </div>
  <div class="list-card">
    <div class="list-card__lazyload-img">
      <img src="assets/icon/pizza.png">
    </div>
    <div class="list-card__lazyload-name"></div>
    <div class="list-card__option">
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">тонкое</div>
        <div class="list-card__option-param-item">традиционное</div>
      </div>
      <div class="list-card__option-param">
        <div class="list-card__option-param-item active">26 см.</div>
        <div class="list-card__option-param-item">30 см.</div>
        <div class="list-card__option-param-item">40 см.</div>
      </div>
    </div>
    <div class="list-card__footer">
      <div class="list-card__footer-lazyload-price"></div>
      <div class="list-card__footer-button">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
        </svg>
        Добавить
      </div>
    </div>
  </div>
  <div class="list-card">
  <div class="list-card__lazyload-img">
    <img src="assets/icon/pizza.png">
  </div>
  <div class="list-card__lazyload-name"></div>
  <div class="list-card__option">
    <div class="list-card__option-param">
      <div class="list-card__option-param-item active">тонкое</div>
      <div class="list-card__option-param-item">традиционное</div>
    </div>
    <div class="list-card__option-param">
      <div class="list-card__option-param-item active">26 см.</div>
      <div class="list-card__option-param-item">30 см.</div>
      <div class="list-card__option-param-item">40 см.</div>
    </div>
  </div>
  <div class="list-card__footer">
    <div class="list-card__footer-lazyload-price"></div>
    <div class="list-card__footer-button">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
      </svg>
      Добавить
    </div>
  </div>
</div>
</div>
<div class="list" *ngIf="loader">
  <ng-container *ngIf="pizzaArray">
    <ng-container *ngFor="let pizza of pizzaArray">
      <div class="list-card"  *ngIf="pizza.display">
        <div class="list-card__img">
          <div class="list-card__img-tag">
            <ng-container [ngSwitch]="pizza.tag">
             <img src="assets/icon/sharpness.png" *ngSwitchCase="'sharpness'">
             <img src="assets/icon/vegan.png" *ngSwitchCase="'vegan'">
            </ng-container>
          </div>
          <img src="{{pizza.avatar}}">
        </div>
        <div class="list-card__name">{{pizza.name}}</div>
        <div class="list-card__option">
          <div class="list-card__option-param">
            <ng-container *ngIf="pizza.bough">
              <div class="list-card__option-param-item"
                   *ngFor="let bough of pizza.bough"
                   [ngClass]="{active: bough.active}"
                   (click)="changeBough(pizza.id, bough.value)">{{bough.name}}
              </div>
            </ng-container>
          </div>
          <div class="list-card__option-param">
            <ng-container *ngIf="pizza.size">
              <div class="list-card__option-param-item"
                   *ngFor="let size of pizza.size"
                   [ngClass]="{active: size.active}"
                   (click)="changeSize(pizza.id, size.value)">{{size.name}}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="list-card__footer">
          <div class="list-card__footer-price">от {{pizza.priceActive}}</div>
          <div class="list-card__footer-button" (click)="addPizza(pizza)">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z" fill="white"/>
            </svg>
            Добавить
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

