<div class="filter">
  <div class="filter-list">
    <div class="filter-list__item filter-list__item-active">Все</div>
    <div class="filter-list__item">Мясные</div>
    <div class="filter-list__item">Вегетарианская</div>
    <div class="filter-list__item">Гриль</div>
    <div class="filter-list__item">Острые</div>
  </div>
  <div class="filter-select">
    <img src="assets/icon/arrow.png">Сортировать по: <span>популярности</span>
    <div class="filter-select__modal">
      <div class="filter-select__modal-item-active">популярности</div>
      <div class="filter-select__modal-item">цене</div>
      <div class="filter-select__modal-item">алфавиту</div>
    </div>
  </div>
</div>
